#go_header {
    background-color: lightgrey;
}

#go_footer {
    background-color: lightgray;
    padding-bottom:0.5rem;
}

#go_scroll {
    margin-top: 40px;
    margin-bottom: 40px;
}

.class-level-blanc {
    background-color: white;
    color: black;
}

.class-level-violet {
    background-color: purple;
    color: white;
}

.class-level-rouge {
    background-color: red;
    color: white;
}

.class-level-orange {
    background-color: orange;
    color: white;
}

.class-level-vert {
    background-color: green;
    color: white;
}

.class-level-autre {
    background-color: gray;
    color: white;
}


.class-isnotfree {
    background-color: red;
    color: white;
}

.class-isfree {
    background-color: green;
    color: white;
}

