#go_header {
    background-color: #e9ecef;
}

#go_footer {
    background-color: #e9ecef;
    padding-bottom:0.5rem;
}

#go_scroll {
    margin-top: 40px;
    margin-bottom: 40px;
}

.class-level-nouveau {
    background-color: yellow;
    color: black;
}
.class-level-blanc {
    background-color: white;
    color: black;
}

.class-level-violet, .class-level-nouv-violet {
    background-color: purple;
    color: white;
}

.class-level-rouge, .class-level-nouv-rouge {
    background-color: firebrick;
    color: white;
}

.class-level-orange, .class-level-nouv-orange {
    background-color: darkorange;
    color: white;
}

.class-level-vert {
    background-color: lime;
    color: white;
}

.class-level-moyen {
    background-color: lightgray;
    color: black;
}

.class-level-nc {
    background-color: darkgray;
    color: white;
}

.class-level-libre {
    background-color: green;
    color: white;
}

.class-level-30-5 {
    background-color: lightblue;
    color: black;
}
.class-level-30-4 {
    background-color: skyblue;
    color: black;
}

.class-level-30-3 {
    background-color: dodgerblue;
    color: black;
}

.class-level-30 {
    background-color: blue;
    color: white;
}

.class-level-15-4 {
    background-color: midnightblue;
    color: white;
}

.class-isnotfree {
    background-color: red;
    color: white;
}

.class-isfree {
    background-color: green;
    color: white;
}

